//
// Variables
// --------------------------------------------------

$default-color =       #333333
$default-border =      #dddddd
$default-height = 44px

$primary =       #337ab7
$success =       #5cb85c
$info =          #5bc0de
$warning =       #f0ad4e
$danger =        #d9534f
$white =         #ffffff
$black =         #000000
$gray =          #888888

$overlay = rgba(0, 0, 0, .5)

$font-size-base = 14px
$font-size-large = 16px
$font-size-small = 12px